.booking-section {
    border: 1px solid #ddd;
}
.booking-section .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.booking-section .container .inputs {
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f6f9fc;
    padding: 30px;
}

@media(max-width:765px) {
    .booking-section .container {
        display: block;
    }
}

